.base {
	-fx-background-color: #726255;
}

.tab-pane  .tab-header-area .tab-header-background {
	-fx-opacity:0;
}


.tab-pane  .tab-header-area .tab {
	-fx-background-color: #726255;
	-fx-padding:5px;
	-fx-font-weight:bold;
	-fx-border-color:#726255;
	-fx-border-width:1 1 5 1;

}

.tab-pane  .tab-header-area .tab:selected {
	-fx-background-color: #ecb939;
	-fx-border-color:#ecb939;
}

.tab-pane .tab-content-area {
	-fx-background-color: #ecb939;
}

.label {
	-fx-padding:5px;
}